################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Reply-o-ke/bin
/Reply-o-ke/obj
/Reply-o-ke.Client/bin
/Reply-o-ke.Client/obj
Reply-o-ke/karaoke.db
Reply-o-ke/karaoke.db-shm
Reply-o-ke/karaoke.db-wal
Reply-o-ke/karaoke.db
/Reply-o-ke/karaoke.db
Reply-o-ke/Properties/PublishProfiles/Reply-o-ke - Web Deploy.pubxml.user
/Reply-o-ke/appsettings.Development.json
